#map {
    height: 800px;
    width: 80%;
    display: inline-block;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}
